html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
:root {
  --ck-inner-shadow: transparent !important;
  --ck-color-focus-border: transparent;
  --ck-color-shadow-drop: transparent;
  --ck-color-shadow-inner: transparent;
  --ck-color-toolbar-background: #ddd;
}
.ck {
  border: none !important;
}
.ck-content {
  p, li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }
  h1, h2 {
    font-weight: 500;
  }
  a {
    text-decoration: underline;
  }
}
.ck-focused {
  box-shadow: none !important;
}
.snippet {
  mark {
    background-color: transparent;
    border-bottom: 1px solid lightskyblue;
    display: inline-block;
    color: #2c3e50;
  }
  strong {
    color: lightcoral;
    mark {
      color: lightcoral;
    }
  }
}

a {
  text-decoration: none;
  color: #2c3e50;
  &:visited {
    color: #2c3e50;
  }
  &:active {
    color: #2c3e50;
  }
}
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  min-width: 32px;

  border: none;
  outline: none;
  background-color: lighten(lightskyblue, 10%);

  border-radius: 4px;
  font-size: 18px;
  white-space: nowrap;

  &:hover {
    background-color: lightskyblue;
  }
  &:active {
    background-color: darken(lightskyblue, 10%);
  }
  &[disabled] {
    background-color: lightgray;
  }
  &[disabled]:hover {
    background-color: lightgray;
  }
  &[disabled]:active {
    background-color: lightgray;
  }
}
button.toggle {
  &[disabled] {
    background-color: #eee !important;
  }
  &[disabled]:hover {
    background-color: #eee !important;
  }
  &[disabled]:active {
    background-color: #eee !important;
  }
  &.unselected {
    background-color: #ddd;
  }
  &.unselected:hover {
    background-color: darken(#ddd, 10%);
  }
  &.unselected:active {
    background-color: darken(#ddd, 20%);
  }
}

.ql-editor .ql-size-small {
  font-size: 1.0em;
}
.ql-editor {
  font-size: 1.2em;
}
.ql-editor .ql-size-large {
  font-size: 1.5em;
}
.ql-editor .ql-size-huge {
  font-size: 2.5em;
}
